#section1 {
  background-color: black;
  color: white;
}
#nav {
  display: flex;
}
#div1 {
  display: flex;
  justify-content: space-evenly;
}
#home {
  font-family: arial;
  font-weight: 800;
  margin-top: 10px;
  background-color: black;
  border: none;
  color: #fec72e;
}
#Features {
  font-family: arial;
  font-weight: 800;
  margin-top: 10px;
  background-color: black;
  border-color: #fec72e;
  color: #fec72e;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  height: 40px;
  margin-left: 20px;
  width: 90px;
}
h1 {
  font-size: xx-large;
}
#rate-us {
  width: 200px;
  background-color: #fec72e;
  color: black;
  font-family: arial;
  font-weight: 800;
  border-radius: 40px;
  border: none;
  height: 40px;
}
#black {
  width: 600px;
}
#section2 {
  display: flex;
  justify-content: space-evenly;
}
#section3 {
  background-color: #151515;
}
#bmw {
  width: 600px;
}
